

body {
  background-color: #0000FF;
  background-image: url('images/blah.png');
  font-family: sans-serif;
}

#planets {
   font-size: 2em;
   font-family:fantasy;
   display: block;
}

a {
  color: white;
  text-decoration: none;
}
